.review-page {
    text-align: center;
    padding: 2rem;
}

.review-hero {
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
  
.review-hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}
  
.review-hero-text {
    position: absolute;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    padding: 1rem;
}

.review-hero-text h1{
    font-size: 60px;
}

.review-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review-card {
  flex: 1 1 calc(50% - 0.75rem);
  max-width: calc(50% - 0.75rem);
  align-items: center;
  text-align: center;
}
  
.open-form-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #628ECA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 2rem;
}
  
.open-form-button:hover {
    background-color: #0056b3;
}
  

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modal-wrapper {
    width: 600px;
    z-index: 1000;
}

@media (max-width : 650px){
    .modal-wrapper{
        width: auto;
    }
}

@media (max-width: 600px) {
    .review-card {
      flex: 0 1 100%;
      max-width: 100%;
    }
}
  