.navbar {
    min-height: 80px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.3);
}

.container-fluid{
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
}

#logo{
    height: 2.6rem;
    margin-right: 0; 
}

#logo-name{
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none !important;
}

.nav-link:hover{
    text-decoration: underline !important;
    font-weight: bold;
}


.navbar-nav{
    display: flex;               
    align-items: center;         
    justify-content: center;     
    height: 100%; 
}

.nav-button{
    background-color: #628ECA;
    color: #fff;
    padding: 6px 14px;
    text-align: center; 
    align-items: center;
    border-radius: 2rem; 
    font-weight: 500;
    font-size: 0.95rem;
}

.nav-button:hover{
    background-color: #3e81d8;
}